/* remove browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-image: url("./images/astronaut.jpg"); */
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* sticky-header */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    /* flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    /* 1.55% viewport width */
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* this padding adjusts the size of the button press */
    padding: 10px 15px 10px 15px;
}

header nav ul li a:hover {
    background: #6c7a86;
    color: #fff;
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Style Start */
.hero {
    padding-top: 30%;
    align-items: flex-start;
}

.hero-logo {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-logo h1 {
    font-family: "Audiowide", "Monoton", "Bauhaus 93", cursive, Helvetica, Arial, sans-serif;
    font-size: 100px;
    /* gold gradient text */
    background: linear-gradient(#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Hero Style End */


/* music player */
.music {
    display: flex;
    flex-wrap: wrap;
}

.music-player {
    width: 1250px;
    margin: 0 auto 30px auto;
    /* background-image: linear-gradient(to right, #323334, #6c7a86, #ffffff); */
    background-image: linear-gradient(to right, rgba(50, 51, 52, 1), rgba(108, 122, 134, 0.5), rgba(255, 255, 255, 0.1));
    color: #fce138;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.songs {
    width: 50%;
    float: left;
    padding: 35px 0px 35px 20px;
}

.songs {
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

iframe {
    border-radius: 15px;
    padding: 5px;
    background: #000000;
}


/* bio */
.bio {
    display: flex;
    flex-wrap: wrap;
}

.biography {
    width: 1250px;
    margin: 0 auto 30px auto;
    /* background: #6c7a86; */
    background-image: linear-gradient(to right, #323334, #6c7a86, #ffffff);
    color: #fce138;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.biography img {
    width: 35%;
    float: left;
}

.band-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.band-bio h3 {
    font-size: 28px;
    margin-bottom: 8px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.band-bio h4 {
    font-weight: lighter;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.band-bio p {
    font-size: 16px;
    line-height: 1.3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Contact styles start */
.contact a {
    text-decoration: none;
    color: #fce138;
}

.contact nav {
    margin: 7px 0;
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact nav ul li {
    color: #fce138;
    padding: 15px 15px;
    font-weight: medium;
    font-size: 1.55vw;
}

.contact nav ul li a {
    /* this padding adjusts the size of the button press */
    padding: 30px 15px 10px 15px;
    font-weight: medium;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact nav ul li a:hover {
    background: #6c7a86;
    color: #fff;
    border-radius: 15px;
    text-shadow: none;
}

/* Contact syles ends */


/* footer */
footer {
    /* gold gradient */
    background-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7);
    width: 100%;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #000000;
    font-size: 18px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

/* to give all elements a consistent look */
section {
    /* refined width-wise to enable band logo to appear on one line */
    padding: 40px 40px 40px 40px;
}

/* generic utility classes */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    body {
        /* background-position: center center;
        background-repeat: no-repeat; */
        background-position: center;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* this will be applied on any screen between 768px and 575px */
@media screen and (max-width: 768px) {
    body {

    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header nav ul {
        justify-content: center;
    }

    header nav ul li a {
        font-size: 30px;
        margin: 10px 5px;
        padding: 10px 5px;
    }

    /* this controls where the logo appears */
    .hero {
        padding-top: 75%;
    }

    .hero-logo {
        width: 100%;
        text-align: center;
    }

    .hero-logo h1 {
        font-size: 95px;
    }

    .biography {
        flex: 0 95%;
    }

    .large-icon {
        font-size: 40px;
    }

    footer h2,
    footer div {
        text-align: center;
        width: 100%;
    }

    section {
        padding: 30px 40px;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
    body {
        background-image: url("./images/astronaut-cellphone-size.jpeg");
        /* background-size: cover; */
        background-attachment: scroll;
    }

    header nav ul {
        margin-top: 5px;
        width: 100%;
    }

    .hero {
        padding-top: 100%;
    }

    .hero-logo h1 {
        font-size: 47px;
    }

    .music-player {
        flex: 0 100%;
    }

    .songs {
        width: 100%;
        padding: 35px 5px 35px 15px;
    }

    .biography {
        flex: 1 100%;
    }

    .biography img {
        width: 100%;
    }

    .band-bio {
        padding: 15px;
        text-align: center;
        width: 100%;
    }

    section {
        padding: 10px 15px;
    }

}