/* remove browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font */
    color: #6c7a86;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #000000;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* Hero Style Start */
.hero {
    background-image: url("./images/astronaut.jpg");
    height: 1200px;
    background-size: cover;
    background-position: center;
}

/* Hero Style End */


/* headings */
.section-title {
    font-size: 55px;
    color: #fce138;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #6c7a86;
}


/* generic utility classes */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* bio */
.bio {
    text-align: center;
}

.biography {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #6c7a86;
    color: #fce138;
    overflow: auto;
}

.biography img {
    width: 35%;
    float: left;
}

.band-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.band-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.band-bio h4 {
    font-weight: lighter;
    font-style: italic;
    font-size: 26px;
    margin-bottom: 25px;
}

.band-bio p {
    font-size: 17px;
    line-height: 1.3;
}


/* Contact styles start */
.contact {
    padding: 10px 35px;
    background: #0D0208;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact h2 {
    font-weight: 300;
    margin: 0;
    color: #fce138;
    font-size: 32px;
    /* adjusts text position height inside footer */
    line-height: 80px;
}

.contact a {
    text-decoration: none;
    color: #fce138;
}

.contact nav {
    margin: 7px 0;
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact nav ul li {
    color: #fce138;
    padding: 15px 15px;
    font-weight: medium;
    font-size: 1.55vw;
}

.contact nav ul li a {
    /* this padding adjusts the size of the button press */
    padding: 25px 15px 10px 15px;
    font-weight: medium;
    font-size: 1.55vw;
}

.contact nav ul li a:hover {
    background: #6c7a86;
    color: #fff;
    border-radius: 15px;
    text-shadow: none;
}
/* Contact syles ends */


/* footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    display: inline;
    color: #000000;
    font-size: 18px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* to give all elements a consistent look */
section {
    padding: 60px;
}